
.json-text
  #expand-button
    transition transform 0.2s
    transform  rotateZ(90deg)
.json-text.closed
  #expand-button
    transform rotateZ(270deg)

@media (max-width: 839px) and (min-width: 480px)
  .json-text
    #expand-button
      transition transform 0.2s
      transform rotateZ(180deg)
  .json-text.closed
    #expand-button
      transform  rotateZ(0deg)
