$closer-margin: -25px;

// for close button
.json-text {
  #expand-button {
    margin-right: $closer-margin;
    margin-bottom: 0;
    transition: transform 0.2s;
    transform: scale(1, 1) rotateZ(90deg);
  }
}
.json-text.closed {
  #expand-button {
    transform: scale(-1, 1) rotateZ(90deg);
  }
}

@media (max-width: 839px) and (min-width: 480px) {
  // for close button
  .json-text {
    flex-direction: column;
    #expand-button {
      margin-right: 0;
      margin-bottom: $closer-margin;
      transition: transform 0.2s;
      transform: scale(1, 1) rotateZ(180deg);
    }
  }
  .json-text.closed {
    #expand-button {
      transform: scale(1, -1) rotateZ(180deg);
    }
  }

  // for closing animation
  .json-text {
    transition: min-height 0.2s;
    min-height: 300px;
    &.closed {
      min-height: 100px;
    }
  }
}

// for hidding control area
/*
.closed {
  .controls-area {
    .float-left {
      display: none;
    }
  }
}
*/
