body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// disable go back/forward by swiping
html,
body {
  overscroll-behavior-x: none;
}

// to expand the content area to the browser height
html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
}

section,
nav {
  padding: 10px;
  overflow: hidden;
}

//
// Footer
//
footer {
  color: #ccc;
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 0;
}

// other elements

label {
  margin: 0;
}

input[type='checkbox'] {
  vertical-align: middle;
}

//
// Main area
//

//
// Leading side
//
.vertical-fixed-area {
  height: 50px; // fixed height
  background: #eeeeee;
}

//
// nav
//

.trailing-side div.flex-grow-1 {
  // to be scrollable
  overflow-y: scroll;
  position: relative;
  .scroll-wrapper {
    position: absolute;
  }
}

.adjuster {
  width: 8px;
  height: 100%;
  cursor: col-resize;
  background: #eee;
  transition: background 0.2s;
  &:hover {
    background: #ddd;
  }
  i {
    color: #999;
  }
}

@media (max-width: 575px) {
  .leading-side {
    height: 300px;
    width: 100%;
  }
  .adjuster {
    visibility: hidden;
    display: none;
    height: 8px;
    width: 100%;
    cursor: row-resize;
    i {
      transform: rotate(90deg);
    }
  }
}

.monospace-font {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

input[readonly] {
  cursor: not-allowed;
  & ~ * {
    cursor: not-allowed;
  }
}

.monaco-wrapper {
  $monaco-wapper-color: rgba(200, 200, 200, 0.4);
  padding: 4px;
  box-shadow: 2px 2px 2px 0 $monaco-wapper-color inset;
  border: 1px solid $monaco-wapper-color;
}

// Count
.text-count {
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
  &.invalid {
    color: var(--danger);
  }
}

// Table

table {
  margin: 4px 2px;
  background-color: #f0f0ff;
  border: 1px solid #669;
  border-collapse: collapse;
  font-size: 0.9rem;
}

td,
th {
  border: 1px solid #99a;
  vertical-align: top;
  margin: 0;
  padding: 2px 6px;
}
td {
  text-align: left;
  background: white;
}

th {
  text-align: right;
  background: #eee;
}
thead {
  th {
    color: gray;
    font-weight: normal;
    vertical-align: middle;
    padding: 0 4px;
    &.expand {
      text-align: left;
      border-right: 0;
    }
    &.objectType {
      text-align: right;
      border-left: 0;
    }
  }
}

$colorPalette: rgb(229, 215, 238), rgb(243, 209, 229), rgb(249, 223, 213),
  rgb(255, 251, 213), rgb(209, 241, 204), rgb(201, 232, 241), rgb(213, 224, 241),
  rgb(237, 208, 229), rgb(244, 210, 222), rgb(252, 241, 211), rgb(248, 250, 212),
  rgb(198, 237, 219), rgb(202, 231, 242), rgb(222, 223, 239), rgb(240, 208, 228),
  rgb(246, 212, 216), rgb(254, 247, 213), rgb(238, 245, 211), rgb(200, 239, 234),
  rgb(203, 230, 243);

@for $i from 1 to length($colorPalette) + 1 {
  thead[data-level='#{$i}'] tr th {
    background: nth($colorPalette, $i);
  }
}

tbody {
  display: none;
  &.expanded {
    display: table-row-group;
  }
}

// Type

.string-type {
  color: #0451a5;
  font-weight: bold;
  img {
    width: 200px;
    height: auto;
  }
  span {
    word-break: break-all;
  }
}

.number-type {
  color: #098658;
  font-weight: bold;
  @extend .monospace-font;
}

.boolean-type {
  color: #098658;
  font-weight: bold;
  white-space: nowrap;
  width: 4rem;
  margin-right: 0.5rem;
  @extend .monospace-font;
  input {
    margin: 0 4px 0 3px;
  }
}

.undefined {
  color: gray;
}

.null {
  color: var(--gray);
  @extend .monospace-font;
  font-style: italic;
  font-weight: bold;
}

// Components

.component-expander {
  color: gray;
  min-width: 24px;
  padding: 0;
  i {
    transition: transform 0.2s ease;
    transform: rotateZ(-90deg);
  }
  &.expanded {
    i {
      transform: rotateZ(0deg);
    }
  }
}
