body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// disable go back/forward by swiping
html,
body {
  overscroll-behavior-x: none;
}

// to expand the content area to the browser height
html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0;
}

section,
nav {
  padding: 10px;
  overflow: hidden;
}

//
// Footer
//
footer {
  color: #ccc;
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 0;
}

//
// Main area
//
.leading-side {
  width: 40%;
}

.trailing-side {
  width: 60%;
  padding: 10px;
}

//
// Leading side
//
.vertical-fixed-area {
  height: 50px; // fixed height
  background: #eeeeee;
}

//
// nav
//

.trailing-side div.flex-grow-1 {
  // to be scrollable
  overflow-y: scroll;
  position: relative;
  .scroll-wrapper {
    position: absolute;
  }
}

.adjuster {
  width: 10px;
  height: 100%;
  cursor: col-resize;
  background: #eee;
}

.monospace-font {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

input[readonly] {
  cursor: not-allowed;
  & ~ * {
    cursor: not-allowed;
  }
}

.monaco-wrapper {
  $monaco-wapper-color: rgba(200, 200, 200, 0.4);
  padding: 4px;
  box-shadow: 2px 2px 2px 0 $monaco-wapper-color inset;
  border: 1px solid $monaco-wapper-color;
}

.visualized-data {
  overflow: scroll;
}

// Count
.text-count {
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
}

// Table

table {
  margin: 4px 2px;
  background-color: #f0f0ff;
  border: 1px solid #669;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #99a;
  vertical-align: top;
  margin: 0;
  padding: 2px 6px;
}
td {
  text-align: left;
  background: white;
}

th {
  text-align: right;
  background: #eee;
}
thead {
  th {
    color: gray;
    font-weight: normal;
    vertical-align: middle;
    padding: 0 4px;
    &.expand {
      text-align: left;
      border-right: 0;
    }
    &.objectType {
      text-align: right;
      border-left: 0;
    }
  }
}

$colorPalette: #c5bee4, #becde4, #c5e4be, #dbe4be, #e4d5be, #e4bebe;

@for $i from 1 to 5 {
  thead[data-level='#{$i}'] tr th {
    background: nth($colorPalette, $i);
  }
}

tbody {
  display: none;
  &.expanded {
    display: table-row-group;
  }
}

// Type

.string-type {
  color: #833;
  img {
    width: 200px;
    height: auto;
  }
}

.number-type {
  color: #338;
  font-weight: bold;
  @extend .monospace-font;
}

.boolean-type {
  color: #383;
  font-weight: bold;
  @extend .monospace-font;
  input {
    margin-right: 4px;
  }
  span {
    font-size: 14px;
  }
}

.undefined {
  color: gray;
}

.null {
  color: #999;
  @extend .monospace-font;
  font-style: italic;
}

// Components

.component-expander {
  color: gray;
  min-width: 24px;
  padding: 0;
  i {
    transition: transform 0.2s ease;
    transform: rotateZ(-90deg);
  }
  &.expanded {
    i {
      transform: rotateZ(0deg);
    }
  }
}
