
html
  height  100%

body
  height  100%
  margin  0
  padding 10px

.container
  display        flex
  flex-direction row

.column
  margin  10px

.json-column
  flex-grow  1

.data-column
  flex-grow  1

.ad-column
  flex-basis auto

.json-text
  width 100%

footer
  text-align center
