.container
  display        flex
  flex-direction row

.column
  margin  10px

.json-column
  flex-grow  1

.data-column
  flex-grow  1

.ad-column
  flex-basis auto

footer
  text-align center

.json-text
  width 100%
