.visualized-data {
  .placeholder {
    font-style: italic;
    color: var(--gray);
  }
  td {
    &:hover {
      background-color: #ffe;
    }
    div > div > .edit-buttons {
      visibility: hidden;
      button {
        padding: 0;
        width: 20px;
        color: var(--secondary);
        &:active i {
          color: var(--primary);
        }
      }
    }
    &:hover > div > div > .edit-buttons {
      visibility: visible;
    }
  }
}
